<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link rel="stylesheet" type="text/css" href="/public/emlogin.css"> --}}
</head>
<body>
    
    <h2 style="text-align: center;"> Log in</h2>

    <form action="/emlogin" method="post" style="max-width: 300px; margin: 0 auto; background-color: #fff; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);">
    
    <input type="text" name="name" placeholder="name" style="display: block; width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;">
    <input type="password" name="password" placeholder="password" style="display: block; width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;">
    <input type="text" name="cname" placeholder="company-name" style="display: block; width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;">
    <input type="password" name="cpassword" placeholder="company-password" style="display: block; width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;">
    <input type="submit" style="background-color: #0074d9; color: #fff; border: none; border-radius: 5px; padding: 10px 15px; font-size: 16px; cursor: pointer;">

    </form>

    <a href="emsignup" style="display: block; text-align: center; margin-top: 20px; text-decoration: none; color: #0074d9;"> sign up</a>
</body>
</html>