
/* Apply some basic styles to the body and text */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Style the form container */
  form {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Style form input fields and submit button */
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Customize the form input fields for company information */
  input[type="text"][name="cname"],
  input[type="password"][name="cpassword"] {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }
  